.main {
	overflow: hidden;
	&-top {
		margin-top: 150px;
		margin-bottom: 50px;
	}
}

.scene {
	padding-top: 100px;
	padding-bottom: 120px;
}

.bg-white {
	background-color: #ffffff;
	color: #000000;
	.h1,
	.h2,
	.h3,
	.h4 {
		color: #000000;
	}
}

.wrapper {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 30px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-cover img,
.svg-cover svg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-contain img,
.svg-contain svg {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.img-table,
.img-mobile {
	display: none;
}

.logo {
	width: 164px;
	height: auto;
	display: block;
	img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}
}

.btn {
	font-family: "Gilroy", sans-serif;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	line-height: 17px;
	color: #ffffff;
	padding: 20px 40px;
	background-color: #28aecb;
	border-radius: 45px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
	&--item {
		background-color: transparent;
		padding: 12px 30px;
		border: 1px solid #28aecb;
		border-radius: 45px;
	}
	&:hover {
		background-color: #00d2ff;
		border-color: #00d2ff;
		transition: all 0.3s;
	}
}
.field {
	width: 100%;
	font-family: "Gilroy", sans-serif;
	background-color: transparent;
	height: 50px;
	border: 1px solid #0f1d32;
	border-radius: 30px;
	font-size: 16px;
	line-height: 19px;
	color: rgba(0, 0, 0, 0.7);
	padding: 14px 15px;
	position: relative;
	-moz-appearance: none;
	-webkit-appearance: none;
	transition: all 0.3s ease;
	resize: none;
	&::-webkit-input-placeholder {
		color: rgba(0, 0, 0, 0.7);
	}
	&::-moz-placeholder {
		color: rgba(0, 0, 0, 0.7);
	}
	&:-moz-placeholder {
		color: rgba(0, 0, 0, 0.7);
	}
	&:-ms-input-placeholder {
		color: rgba(0, 0, 0, 0.7);
	}
	&:focus {
		border-color: #28aecb;
		color: rgba(0, 0, 0, 1);
	}
}
textarea.field {
	height: 130px;
	border-radius: 20px;
}

.title {
	padding-left: 20px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 5px;
		height: calc(100% - 20px);
		max-height: 32px;
		top: 12px;
		left: 0px;
		background: #d01818;
		border-radius: 3px;
		overflow: hidden;
	}
}

.title-big {
	padding-left: 25px;
	position: relative;
	margin-top: -2px;
	&::before {
		content: "";
		position: absolute;
		width: 5px;
		height: calc(100% - 16px);
		top: 12px;
		left: 0px;
		background: #d01818;
		border-radius: 3px;
		overflow: hidden;
	}
}

.desc {
	font-size: 20px;
	line-height: 170%;
	color: #ffffff;
}

.link {
	display: inline-flex;
	color: #ffffff;
}

.language {
	line-height: 19px;
	color: #ffffff;
	position: relative;
	margin-right: 20px;
	&__top {
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: all 0.3s;
		&:hover {
			color: #28aecb;
			transition: color 0.3s;
		}
	}
	&__arrow {
		height: 11px;
		width: 8px;
		margin-left: 8px;
		svg {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__hide {
		display: none;
		position: absolute;
		top: calc(100% + 7px);
		right: 0;
		background-color: #11263e;
		border-radius: 5px;
		padding: 10px;
	}
	&__item {
		display: block;
		color: #fff;
		transition: all 0.3s;
		&:hover {
			color: #28aecb;
			transition: color 0.3s;
		}
		& + & {
			margin-top: 5px;
		}
	}
}

.breadcrumbs {
	ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		li {
			display: flex;
			line-height: 19px;
			color: rgba(255, 255, 255, 0.6);
			a {
				line-height: 19px;
				color: #28aecb;
				transition: color 0.4s cubic-bezier(0.1, 0, 0.3, 1);
				&:hover {
					color: #babec4;
					transition: color 0.4s cubic-bezier(0.1, 0, 0.3, 1);
				}
			}
			&::before {
				content: "-";
				position: relative;
				line-height: 19px;
				color: rgba(255, 255, 255, 0.6);
				margin: 0px 4px;
				display: unset;
			}
			&:first-child {
				&::before {
					display: none;
				}
			}
		}
	}
}

.rating {
	position: relative;
	z-index: 10;
	width: 190px;
	height: 32px;
	&__normal {
		width: 100%;
		height: 100%;
		background-image: url("@/assets/img/reviews/rate.svg");
		background-repeat: no-repeat;
		background-size: auto;
	}
	&__active {
		position: absolute;
		width: 60%;
		height: 100%;
		top: 0px;
		left: 0px;
		background-image: url("@/assets/img/reviews/rate-active.svg");
		background-repeat: no-repeat;
		background-size: auto;
	}
}

.my-moves {
	display: inline-flex;
	align-items: center;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
	transition: all 0.3s;
	&__icon {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 15px;
		svg {
			width: 100%;
			height: 100%;
			object-fit: contain;
			& * {
				transition: all 0.3s;
			}
		}
	}
	&:hover {
		color: #28aecb;
		transition: color 0.3s;
	}
}

.service-selection {
	position: absolute;
	top: 0px;
	right: calc(50% - 775px);
	z-index: 1000;

	.btn {
		padding: 30px 40px;
	}
}

.p-absolute {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.checbox {
	display: flex;
	font-size: 12px;
	line-height: 140%;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	a {
		color: rgba(0, 0, 0, 1);
		transition: all 0.3s;
		&:hover {
			color: rgba(0, 0, 0, 0.5);
			transition: all 0.3s;
		}
	}
	input {
		display: none;
	}
	&__icon {
		width: 15px;
		height: 15px;
		border: 1px solid #000000;
		border-radius: 2px;
		margin-right: 10px;
		position: relative;
		top: 2px;
		&::before {
			content: "";
			position: absolute;
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			top: 2px;
			left: 2px;
			background-color: #28aecb;
			margin-right: 10px;
			opacity: 0;
			transition: all 0.3s;
		}
	}
	&__caption {
		max-width: calc(100% - 25px);
	}
	input[type="checkbox"]:checked + .checbox__icon::before,
	input[type="radio"]:checked + .checbox__icon::before {
		opacity: 1;
		transition: all 0.3s;
	}
}

.arrow {
	width: 50px;
	height: 50px;
	cursor: pointer;
	svg {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
		& * {
			transition: all 0.3s;
		}
	}
	&--prew {
		margin-right: 30px;
	}
}
@media (max-width: 1592px) {
	.service-selection {
		display: none;
	}
}
@media (max-width: 1010px) {
	.main {
		&-top {
			margin-top: 140px;
		}
	}
	.scene {
		padding-top: 80px;
		padding-bottom: 100px;
	}
	/*.wrapper {
		max-width: 804px;
	}*/
	.img-desctop {
		display: none;
	}
	.img-table {
		display: block;
	}
	.title {
		padding-left: 16px;
		&::before {
			width: 5px;
			height: calc(100% - 12px);
			top: 7px;
			left: 2px;
		}
	}
	.title-big {
		padding-left: 15px;
		&::before {
			max-height: 42px;
		}
	}
}
@media (max-width: 760px) {
	.wrapper {
		padding: 0px 20px;
	}
	.main-top {
		margin-top: 120px;
		margin-bottom: 24px;
	}
	.scene {
		padding-top: 70px;
		padding-bottom: 90px;
	}
	.logo {
		width: 116px;
	}
	.language {
		margin-right: 20px;
	}
	.img-table {
		display: none;
	}
	.img-mobile {
		display: block;
	}
	.title {
		&::before {
			top: 5px;
			max-height: 24px;
		}
	}
	.title-big {
		&::before {
			width: 5px;
			height: calc(100% - 8px);
			max-height: 24px;
			top: 5px;
			left: 0;
		}
	}
	.breadcrumbs {
		ul {
			margin-bottom: -3px;
			li {
				font-size: 16px;
				line-height: 140%;
				margin-bottom: 3px;
				a {
					font-size: 16px;
					line-height: 140%;
				}
			}
		}
	}
}

@media (max-width: 1200px) {
}
@media (max-width: 1010px) {
}
@media (max-width: 760px) {
}
