.faq {
	padding-top: 110px;
	&__body {
		margin-top: 60px;
	}
}
@media (max-width: 1200px) {
}
@media (max-width: 1010px) {
	.faq {
		padding-top: 80px;
	}
}
@media (max-width: 760px) {
	.faq {
		padding-top: 70px;
		&__body {
			margin-top: 38px;
		}
	}
}
