.service-packages {
	&__row {
		position: relative;
		margin-top: 70px;
	}
	&__slide {
		width: calc(33.333% - 20px) !important;
	}
	&__coll {
		background: linear-gradient(180deg, #12243f 0%, #0d273a 100%);
		border-radius: 10px;
		overflow: hidden;
		&--2 {
			.service-packages {
				&__top {
					&-box {
						background: linear-gradient(180deg, #83cb28 0%, #aacb28 100%);
					}
				}
			}
		}
		&--3 {
			.service-packages {
				&__top {
					&-box {
						background: linear-gradient(180deg, #2869cb 0%, #285fcb 100%);
						color: #ffffff;
					}
				}
			}
		}
	}
	&__top {
		padding: 20px;
		background-color: #16314e;
		&-box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 15px;
			background: linear-gradient(180deg, #cbb128 0%, #cb9328 100%);
			border-radius: 10px;
			font-weight: 600;
			font-size: 25px;
			line-height: 30px;
			color: #000000;
		}
	}
	&__box {
		padding: 30px;
		&:nth-child(2n) {
			background-color: #16314e;
			padding-top: 16px;
		}
	}
	&__items {
		margin-bottom: -13.5px;
	}
	&__item {
		position: relative;
		padding-left: 20px;
		line-height: 130%;
		color: #ffffff;
		margin-bottom: 13.5px;
		&::before {
			content: "";
			position: absolute;
			width: 10px;
			height: 9px;
			top: 5px;
			left: 0px;
			background-image: url('@/assets/img/icons/service-packages-arrow.svg');
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	&__caption {
		font-weight: 600;
		font-size: 20px;
		line-height: 130%;
		color: #ffffff;
		margin-bottom: 15px;
	}
	&__bottom {
		padding: 14px 15px 16px;
	}
	&__btn {
		width: 100%;
	}
	&__arrows {
		display: none;
	}
	.swiper-wrapper {
		justify-content: space-between;
		flex-wrap: wrap;
		& * {
			box-sizing: border-box;
		}
	}
}
@media (max-width: 1200px) {
}
@media (max-width: 1010px) {
	.service-packages {
		&__row {
			margin-top: 60px;
			margin-bottom: -20px;
		}
		&__slide {
			width: calc(50% - 10px) !important;
			&--table-full {
				width: 100%;
				.service-packages {
					&__box {
						padding: 30px 30px 35px;
						&:nth-child(2n) {
							padding-top: 24px;
						}
					}
					&__items {
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
					}
					&__item {
						width: 50%;
					}
				}
			}
		}
		&__coll {
			margin-bottom: 20px;
		}
		&__box {
			min-height: 167px;
		}
	}
}
@media (max-width: 768px) {
	.service-packages {
		padding-bottom: 80px;
		&__row {
			margin-top: 40px;
			margin-bottom: 0px;
		}
		&__slide {
			width: auto !important;
			&--table-full {
				.service-packages {
					&__box {
						padding: 30px;
						&:nth-child(2n) {
							padding-top: 16px;
						}
					}
					&__item {
						width: 100%;
					}
				}
			}
		}
		&__items {
			margin-bottom: -16px;
		}
		&__item {
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 16px;
		}
		&__arrows {
			display: flex;
			margin-top: 30px;
		}
		.swiper-wrapper {
			justify-content: inherit;
			flex-wrap: nowrap;
		}
	}
}
