.why-apply {
	padding-top: 80px;
	padding-bottom: 100px;
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 40px;
	}
	&__coll {
		width: 50%;
		max-width: 555px;
	}
	&__desc {
		p + p {
			margin-top: 20px;
		}
	}
}
@media (max-width: 1200px) {
}
@media (max-width: 1010px) {
	.why-apply {
		&__title {
			br {
				display: none;
			}
		}
		&__row {
			margin-top: 44px;
		}
		&__coll {
			width: 100%;
			max-width: 720px;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
@media (max-width: 760px) {
	.why-apply {
		padding-top: 70px;
		padding-bottom: 95px;
		&__row {
			margin-top: 32px;
		}
		&__desc {
			padding-right: 5px;
		}
	}
}
